.home-page {
  .text-input{
      height:50px;
  }

  button{
      margin-top:10px;
  }

  input[placeholder] {
    text-overflow:ellipsis;
  }
  ion-spinner{
    margin-left: 45%;
    margin-top: 10%;
  }
}
